* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0%;
}
.contenr {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .contenr{
        width: 750px;
    }
}
@media (min-width: 992px){
    .contenr{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .contenr{
        width: 1170px;
    }
}
.landing {
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
}
.landing .boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.landing .boxs .box {
    position: relative;
}
.landing .boxs .box ul {
    display: flex;
}
.landing .boxs .box ul li {
    margin-right: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #505F98;
}
.landing .boxs  h3 {
    position: absolute;
    left: 50%;
    transform: translatey(50%);
    margin: 0;
    top: -10px;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    color: #37447E;
    line-height: 38px;
}
@media (max-width: 767px) {
    .landing .boxs  h3 {
        display: none;
    }
}
.landing .boxs .box-1 {
    width: 160px;
    height: 26px;
    background-color: #111B47;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .boxs .box-1 a {
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: 18px;
   color: #FFF;
   text-decoration: none;
}
.contenr {
    position: relative;
} 
.contenr .part {
    position: absolute;
    top: -73px;
    right: -68px;
    z-index: -20;
}
.Introduce {
    display: flex;
    padding-top: 150px;
    padding-bottom: 250px;
    align-items: center;
    position: relative;
}
.Introduce img {
    width: 500px;
    position: absolute;
    top: 50px;
    right: -60px;
}
@media (max-width: 992px) {
    .Introduce img {
        display: none;
    }
}
.Introduce .text {
    width: 500px;
    height: 300px;
}
.Introduce .text h2 {
    color: #091133;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 10px;
}
.Introduce .text .p-1 {
    color: #505F98;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}
.Introduce .text .p-1 p {
    line-height: 30px;
    margin-bottom: 10px;
} 
.Introduce .text .pot-1 {
    width: 189px;
    height: 36px;
    border-radius: 2px;
    background-color: #111B47;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.Introduce .text .pot-1 a {
   color:#FFF;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 26px;
   text-decoration: none;
}
.Introduce .text .pot-2 {
    width: 189px;
    height: 36px;
    border-radius: 2px;
    border: 2px solid #091133;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 40px;
}
.Introduce .text .pot-2 a {
    color: #091133;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    line-height: 26px;
}
@media (max-width: 767px) {
    .Introduce {
        padding-top: 0;
    }
    .Introduce .text .pot-2 {
        position: absolute;
        margin-left: 5px;
    }
    .Introduce {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .landing {
        padding-bottom: 340px;
    }
}
.Light-Fast {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.Light-Fast .contenr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.Light-Fast .contenr .text-3 h2 {
    color: #091133;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
    margin-bottom: 10px;
}
.Light-Fast .contenr .text-3 .p-1 {
    color: #505F98;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}
.Light-Fast .contenr .text-3 .p-1 p {
    line-height: 30px;
    margin-bottom: 10px;
}
.Light-Fast .contenr .image {
    flex: 1;
}
.Light-Fast .contenr .image img {
    width: 500px;
}
.Light-Fast .contenr .text-3 .icons {
    display: flex;
    margin-top: 90px;
    font-size: 14px;

}
.Light-Fast .contenr .text-3 .icons span {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    color: #091133;
}
.Light-Fast .contenr .text-3 .icons p {
    color: #5D6970;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.Light-Fast .contenr .text-3 .icons .icon {
    position: relative;
}
.Light-Fast .contenr .text-3 .icons svg {
    position: absolute;
    top: -50px;
    left: 0px;
}
@media (max-width: 992px) {
    .Light-Fast .contenr  {
        flex-direction: column;
    }
    .Light-Fast .contenr .text-3 .icons {
        gap: 60px;
    }
    .Light-Fast .contenr .image img {
        max-width: 100%;
    }
}
.Light-Powerful {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.Light-Powerful .contenr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
@media (max-width: 767px) {
    .Light-Powerful .contenr {
        flex-direction: column;
    }
    .Light-Powerful .contenr .image img {
        max-width: 100%;
    }
}
.Light-Powerful .contenr .image {
    flex: 2;
}
.Light-Powerful .contenr .image img {
    width: 500px;
}
.Light-Powerful .contenr .text h2 {
    color: #091133;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; 
}
.Light-Powerful .contenr .text .p-1 {
    color: #505F98;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}
.Light-Powerful .contenr .text .p-1 p {
    line-height: 30px;
    margin-bottom: 10px;
}
.A-Price-To-Suit {
    position: relative;
    padding-top: 180px;
    padding-bottom: 180px;
    background-image: url(/imgs/Rectangle.svg);
    text-align: center;
}
.A-Price-To-Suit h2 {
    color: #091133;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}
.A-Price-To-Suit p {
    color: var(--Colour-Main-Blue-400, #6F7CB2);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 600px;
    margin: 0 auto 0 auto;
    max-width: 100%;
}
.A-Price-To-Suit h3 {
    color: var(--Colour-Main-Blue-700, #222F65);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.A-Price-To-Suit .span-1 {
    color: var(--Colour-Main-Blue-600, #37447E);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    display: block;
    margin-bottom: 50px;
}
.A-Price-To-Suit .span-2 {
    color: var(--Colour-Main-Grey-600, #5D6970);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: block;
}
.A-Price-To-Suit i {
    width: 189px;
    height: 32px;
    border-radius: 2px;
    background: var(--Colour-Main-Blue-800, #111B47);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0 auto;
}
.A-Price-To-Suit i a {
    color: var(--colour-secondary-white-100-general, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}
.End-landing {
    padding-top: 80px;
    padding-bottom: 20px;
    background: #E7ECFF;
    display: flex;
    flex-direction: column;
}
.End-landing .first-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #CDD1D4;;
}
.End-landing .first-up span {
    color: var(--Colour-Main-Grey-400, #939EA4);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.End-landing .first-up h2 {
    color: var(--Colour-Logo-Primary, #37447E);
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px;
}
.End-landing .first-up i {
    width: 109px;
    height: 26px;
    border-radius: 2px;
    background: var(--Colour-Main-Blue-800, #111B47);
    display: flex;
    align-items: center;
    justify-content: center;
}
.End-landing .first-up i a {
    color: var(--colour-secondary-white-100-general, #FFF);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
} 
.End-landing .End-dwon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    gap: 60px;
}
.End-landing .End-dwon ul {
    display: flex;
    align-items: center;
}
.End-landing .End-dwon ul li {
    margin-right: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #505F98;
}
.End-landing .End-dwon .icons i {
    color: #B0B8BC;
    margin-left: 20px;
} 
@media (max-width: 767px) {
    .End-landing .first-up h2 {
        position: absolute;
        top: -97px;
    }
    .End-landing .End-dwon ul li {
        margin-right: 10px;
    }
    .End-landing .End-dwon .icons i:not(:first-child) {
        margin-left: 10px;
    }
}